html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// reset (скорее полное отключение) фокуса кнопок у firefox
// кастомный фокус в firefox добавить очень сложно в отличие от Chrome
*:focus {
  outline:none !important;
}

img {
  max-width: 100%;
  height: auto;
}

// BREAKPOINTS
// $mobile: ("max-width: 399px");
// $mobile-fix: ("min-width: 400px");
// $mobile-landscape: ("min-width: 480px");
// $tablet: ("min-width: 750px");
// $laptop: ("min-width: 992px");
// $desktop: ("min-width: 1200px");
// $tv: ("min-width: 1360px");

// Просто проверять, но не фокусироваться на них
// 1024; 1280; 1440;

$mobile: ("max-width: 399px");
$md-400: ("min-width: 400px");
$mobile-landscape: ("min-width: 480px");
$md-550: ("min-width: 550px");
$md-600: ("min-width: 600px");
$md-650: ("min-width: 650px");
$md-700: ("min-width: 700px");
$tablet: ("min-width: 768px");
$md-800: ("min-width: 800px");
$md-850: ("min-width: 850px");
$md-900: ("min-width: 900px");
$md-950: ("min-width: 950px");
$laptop: ("min-width: 992px");
$md-1050: ("min-width: 1050px");
$md-1100: ("min-width: 1100px");
$md-1150: ("min-width: 1150px");
$laptop-large: ("min-width: 1200px"); //desktop
$md-1250: ("min-width: 1250px");
$md-1300: ("min-width: 1300px");
$desktop: ("min-width: 1360px"); //tv
$gamer-pc: ("min-width: 1600px"); //gamer
$tv: ("min-width: 1920px"); //не было

// PALETTE
// tint=lighten, shade=darken, low&high=saturation, op=opacity.
// shortcut "cr" => color: rgba(text-color, .5);
// Ex $black-op: rgba($black, .3);

$blue__dark: #080d13;
$blue__light: #0b1119;
$grey__cinder: #242930;
$grey__dark-gray: #afafaf;
$grey__silver: #bdbdbd;
$orange: #f99406;
$orange__dark: #db8000;
$orange__light: #f7a83a;
$white: #ffffff;
$yellow: #f59f26;

// SCAFFOLDING
$font-size-base: 18px;
$line-height-base: em(24px);
$font-family-base: "Roboto", Arial, sans-serif;
$text-color-base: $grey__silver;
$body-bg: $blue__light;

// FONT WEIGHT
$light:300;
$regular: 400;
$bold: 700;
$black: 900;

// FUNCTIONS
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

// z-index
$elements: project-overlay, modals, success;
// Пример записи
// .project-cover {
//    z-index: index($elements, project-overlay);
// }
// Или если нужен другой уровень
// .form {
//    z-index: index($elements, modals);
// }
// В случае, если появится необходимость в новом значении, для нового элемента - просто дать ему имя и записать в том месте, где он должен быть на сайте (выше оверлея, но ниже pop-up aka modals). Код в таком случае будет выглядеть вот так: $elements: project-overlay, navigation, modals; И все элементы изменят z-index соответственно новому порядку. NB! Все работает только, если использовать эту функцию во всем коде. А не пытаться впихнуть в качестве последнего измения в полуготовый проект.

// In SCSS em(размер из фотошопа с px); line-height: em(24px); font-size: em(50px);
@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

// FONT COLOR
$text-color-secondary: $white;
//base, secondary, tertiary, accent, success, danger, op, functions (-address, -promo, etc);

// Common

// BACKGROUND
// $brand-default: rgba($blue, .5);
// primary, primary-contrast, info, success, warning, danger, op, functions (-address, -promo, etc);

//FORM
// input, radio, checkbox, border;
// default, hover, focus, warning, text, icon,
// Ex: $form-input-border-hover: 2px solid $blue__casper;
// Ex: $form-radio-text-default: $text-color-tertiary;
// EX: $form-radio-icon-default: rgba($text-color-tertiary, 0.4);

// BTN
// Базовые: bg*, text-color, font-weight, border
// Действие**: bg-hover, text-color-hover, bg-text-color;
// Функция: form, slider, buy, page etc.
// Состояния: default, primary, info, success, warning, danger, disabled
// Версии вьюпорта: m, t, d;
// *bg - часто будет прозрачным не забывай задавать transparent в таком случае
// **Часто бывает вариацией уже известного цвета с opacity или rgba()
// Ex: $btn-form-default-hover-bg-m
// Дефолтная кнопка
// $btn-bg-default: $orange;
// $btn-bg-hover: $orange__light;
// $btn-bg-active: $orange__dark;

// $btn-text-color-default: $white;
// $btn-text-color-hover: $black;
// $btn-text-color-active: rgba($white, .3);
// $btn-font-weight: $medium;
// $btn-font-size: $font-size-base;
// $btn-border: none;
// $btn-border-radius: 3px;
// $btn-padding: 14px 53px;
// $btn-box-shadow: inset 0 3px 0 rgba($white, 0.4);

// LINKS
// text-color, -hover, -underline, -active(:active), -selected, -disabled
// *selected - например, страница на которой находится пользователь
// Ex: $link-info-text-color-hover; $link-default-text-color-hover;

// ETC
// $border-section: 2px solid $green__jade-light;
