.wrap {
  &__header {
    @include container;
    @media ($mobile) {
    }
    @media ($mobile-landscape) {
    }
    @media ($tablet) {
    }
    @media ($laptop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @media ($desktop) {
      padding-left: 45px;
    }
    @media ($tv) {
      padding-left: 90px;
    }
  }
  &__advantage {
    @include container;
    @media ($mobile) {
    }
    @media ($mobile-landscape) {
    }
    @media ($tablet) {
    }
    @media ($laptop) {
    }
    @media ($desktop) {
    }
    @media ($tv) {
      padding-left: 200px;
    }
  }
}